@page
@model ICBFApp.Pages.Asistencia.IndexModel
@{
}
<br />
<h2>Lista de asistencias</h2>
<a class="btn btn-primary btn-sm" href="/Asistencia/Create">Nueva asistencia</a>

<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Fecha</td>
            <td>Estado</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listAsistenciaInfo)
        {
            <tr>
                <td>@item.datosBasicosInfo.identificacion</td>
                <td>@item.datosBasicosInfo.nombres</td>
                <td>@item.fecha</td>
                <td>@item.estadoNino</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Asistencia/Edit?idAsistencia=@item.idAsistencia">Editar</a>
                    <a class="btn btn-danger btn-sm" href="/Asistencia/Delete?idAsistencia=@item.idAsistencia">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>