@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>

    h1 {
        font-family: 'Roboto', sans-serif;
    }

</style>

<div class="text-center">
    <img src="~/images/logoICBF.png" width="150px" class="mb-4">
    <h1 class="display-4">Bienvenido a la página de bienestar familiar</h1>
</div>

<br />
<br />

<div class="container">
    <div class="row justify-content-center text-center">

        <div class="col-md-6 mb-4">
            <img src="~/images/icon_user.png" width="150px" class="mb-2">
            <br />
            <br />
            <h3 id="link">Creado por Miguel Casallas</h3>
        </div>

        <div class="col-md-6 mb-4">
            <img src="~/images/icon_user.png" width="150px" class="mb-2">
            <br />
            <br />
            <h3 id="link">Creado por Angel Acuña</h3>
        </div>

    </div>
</div>
